{% extends 'base.html' %}

{% block content %}
<div class="form-style">
    <h1>Log in</h1>
    <form class="site-form" action="." method="post">
        {% csrf_token %}
        
        <label for="id_email">Email:</label>
        <br>
        {{ form.email }}
        <br><br>

        <label for="id_password">Password:</label>
        <br>
        {{ form.password }}
        <br><br>

        <input class="submit" type="submit" value="Log in">
        <br>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </form>
</div>
{% endblock %}
